:root {
    font-size: 10px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans',Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #2e2e2e;
    height:100%;
}

.category_title {
    margin-left:180px;
    height:22px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

:focus {
    outline-color: #000000;
}

.masthead {
    flex-basis: 4rem;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: #397850;
    margin-bottom: 10px;
}

.masthead .btn {
    background-color: #4c94be;
    transition: background-color 150ms;
}

.masthead .btn:hover {
    background-color: #26874c;
}
.mast_button {
    background-color: #90968e;
    border:solid 1px rgb(17, 97, 56);
    border-radius: 3px;
    cursor:hand;
    width:35px;
    height:30px;
}

.mast_button > img {
    width:20px;
    height:20px;
}

/* Lists */
.lists-container::-webkit-scrollbar {
    height: 2.4rem;
}

.lists-container::-webkit-scrollbar-thumb {
    background-color: #3d9462;
    border: 0.8rem solid #26874c;
    border-top-width: 0;
}

.lists-container {
    display: flex;
    align-items: start;
    padding: 0 0.8rem 0.8rem;
    overflow-x: auto;
    min-height: calc(75vh);
    max-height: calc(100vh - 50px);
}

.list {
    flex: 0 0 27rem;
    display: flex;
    flex-direction: row;
    background-color: #47504b;
    min-height:100%;
    margin-right: 0rem;
}

.list-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    padding: 1rem;
    background-color: #104525;
    margin:5px;
    height:40px;
}

.list-items {
    display: flex;
    flex-flow: column;
    padding: 0 0.6rem 0rem;
    overflow-y: auto;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-top: 5px;
}

.list-items::-webkit-scrollbar {
    width: 1.6rem;
}

.list-items::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
    border-right: 0.6rem solid #e2e4e6;
}

.list-items li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    background-color: #d5ffe4;
    padding: 0.65rem 0.6rem;
    color: #4d4d4d;
    border-bottom: 0.1rem solid #ccc;
    margin-bottom: 0.2rem;
    word-wrap: break-word;
    cursor: pointer;
    min-height: 120px;
    max-height: 120px;
}

.list-items li:hover {
    background-color: #eee;
}

@supports (display: grid) {
    body {
        display: grid;
        grid-template-rows: 4rem 3rem auto;
        grid-row-gap: 0.8rem;
        margin:0;
    }

    .masthead {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 1rem;
    }

    .boards-menu {
        display: grid;
        grid-template-columns: 9rem 18rem;
        grid-column-gap: 0.8rem;
    }

    .user-settings {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 0.8rem;
    }

    .board-controls {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
    }

    .lists-container {
        display: grid;
        grid-auto-columns: 27rem;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    .list {
        display: flex;
        flex-flow: column;
    }

    .logo,
    .list,
    .list-items li,
    .boards-btn,
    .board-info-bar,
    .board-controls .btn,
    .user-settings-btn {
    margin: 0;
    }
    
}