
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>kan-ban / org</title>
        <link rel="manifest" href="app.manifest">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1, maximum-scale=5, minimum-scale=1; " />
        <meta name="theme-color" content="#397850"/>
        <meta property="og:url"           content="https://oureleven.com/kanban" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="Kanban app" />
		<meta property="og:description"   content="Kanban app that doesn't use the cloud. Can work offline and 100% privacy." />
		<meta name="description" content="Kanban app that doesn't use the cloud. Can work offline and 100% privacy."/> 
		<meta name="keywords" content="kanban, agile, sprint planning, scrum, planning, trello, list, progression, offline, privacy"/>
        <link rel="icon" type="image/png" sizes="32x32" href="assets/logo.png">
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', async () => {
                    try {
                        const registration = await navigator.serviceWorker.register('service-worker.js');
                        console.log(`Service worker Registered with scope: ${registration.scope}`);
                    } catch (e) {
                        console.log('Service worker registration failed');
                        console.log(e);
                    }
                });
            }
        </script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="css/load.css">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="js/vue.global.js"></script>
        <script src="js/task_handling.js"></script>
        <script src="js/common.js"></script>
    </head>
    <body id="app" onload="appLoad();">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary mb-2">
        <div class="container-fluid">
            <span class="navbar-brand text-light">看板 / kan-ban / org</span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
            <div class="d-flex">
                          
            <li class="nav-item dropdown pe-5 ps-5" style="list-style-type: none;">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Options
                </a>
                <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" data-bs-toggle="modal" href="#chooseModal">Choose App</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#" onclick="showLoad(true)">Kanban Configurations</a></li>
                    <li><a class="dropdown-item" href="#" onclick="showLoad(false)">Data Options</a></li>
                </ul>
            </li>
            </div>
        </div>
        </nav>
        <!-- container -->
        <div class="container-fluid" style="overflow-x:auto;" id="kanban_board">
            <div class="row justify-content-start flex-nowrap">
                <div id="left-nav" class="col collapse bg-light vh-100" style="max-width:350px;min-width:350px;">
                    <div class="bg-primary pb-3">&nbsp;<button onclick="hideLoad()" 
                        class="btn btn-primary btn-sm float-end border m-1" aria-label="Close">x</button></div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             Configurations
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body h6 m-1">
                                        This is the list of users available when dealing with task. If you want to assign 
                                        task to more users, add it here.
                                        <hr>
                                        <select id="user_list" size="4" class="form-select" >
                                            <option v-for="user in users" >{{user.name}}</option>
                                        </select>         
     
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary w-100" onclick="removeUser();" 
                                            aria-label="Remove selected user" title="Remove selected user">
                                            Remove selected user
                                        </button>
                                    </div>                                     
                                    <div class="card-body h6 m-1">
                                        <div class="form-floating">
                                            <input id="newUserName" type="text" class="form-control"/>
                                            <label for="newUserName">New user name</label>
                                        </div>        
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary w-100" onclick="addUser(false)" 
                                            aria-label="Add user" title="Add user">
                                        Add new user
                                        </button>   
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body h6 m-1">
                                        The purpose of Kanban board is to track progression of task from one phase to the next. 
                                        Phases are different for different line of work. You can customize the phases needed.
                                        <hr>
                                        <select id="category_list" size="6" class="form-select">
                                            <option v-for="category in categories">
                                                {{category.name}}
                                            </option>
                                        </select>   
     
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary w-100" onclick="removeCategory();" 
                                            aria-label="Remove selected phase" title="Remove selected phase">
                                            Remove selected phase
                                        </button>
                                    </div>                                     
                                    <div class="card-body h6 m-1">
                                        <div class="form-floating">
                                            <input id="newCategoryName" type="text" class="form-control"/>
                                            <label for="newCategoryName">New phase</label>
                                        </div>        
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary w-50" onclick="addCategory(true)" 
                                            aria-label="Add phase" title="Add phase">
                                        Insert before
                                        </button>   
                                        <button class="btn btn-primary w-49 ms-3" onclick="addCategory(false)" 
                                            aria-label="Add phase" title="Add phase">
                                        Insert after
                                        </button>   
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Data Options
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body h6 m-1">
                                     There are 5 slots which means you can work on 4 different kanban boards, 1 shareable from URL and switching between them.
                                     <hr>
                                     <select id="storageOptions" onchange="changeDataStorage()" size="5" class="form-select">
                                        <option value="data-kanban">data-kanban</option>
                                        <option value="data-kanban-2">data-kanban-2</option>
                                        <option value="data-kanban-3">data-kanban-3</option>
                                        <option value="data-kanban-4">data-kanban-4</option>
                                        <option value="data-kanban-shared">data-kanban-shared</option>
                                    </select>
                                    <hr>
                                    Kanban data for selected slot
                                    <textarea id="kanban_data" class="form-select" style="font-size:8pt;height:200px;resize: none;"></textarea>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary mw-30" onclick="resetKanbanData()" 
                                            aria-label="Reset Kanban" title="Reset Kanban">
                                        Reset
                                        </button>   
                                        <button class="btn btn-primary mw-30 ms-1" onclick="updateKanbanData()" 
                                            aria-label="Update Kanban" title="Update Kanban">
                                        Update
                                        </button>   
                                        <button class="btn btn-primary mw-30 ms-1" onclick="copyKanbanData()" 
                                            aria-label="Share Kanban with URL" title="Share Kanban with URL">
                                        Share
                                        </button>                                           
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body h6 m-1">
                                        Pick a format to download and click 'Download' button.
                                        <hr>
                                        <div class="btn-group w-100" role="group" aria-label="download option">
                                            <input class="btn-check" type="radio" id="download_json" name="downloadType" value="download_json">
                                            <label class="btn btn-outline-secondary" for="download_json">JSON</label>
                                            <input class="btn-check" type="radio" name="downloadType" id="download_png" value="download_png" checked>
                                            <label class="btn btn-outline-secondary" for="download_png">PNG</label>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary w-100" onclick="downloadData()" 
                                            aria-label="Download" title="Download">
                                        Download
                                        </button>  
                                    </div>
                                </div>
                            </div>
                                
                          </div>
                        </div>
                      </div>
                </div>
                <div id="category_section" class="col bg-light border p-0 me-2" style="max-width:250px;min-width:250px;"
                    v-bind:category="category.name" class="list" v-for="(category, index) in categories" 
                    @dragover.prevent @dragenter.prevent ondrop="onDrop(event)">
                    <div class="h6 text-light bg-primary m-1 p-1 ps-2 pb-3" v-bind:category="category.name" >{{category.name}}
                        <button v-if="index == 0" onclick="taskDialog()" 
                            class="btn btn-primary btn-sm float-end border" aria-label="Add Task">+</button>
                    </div>
                    <ul class="card border rounded m-1 list-group list-group-flush" style="min-height:130px;" v-for="task in filterTasks(category.name)"
                        ondrop="onDrop(event)" v-bind:category="category.name"  v-bind:data-id="task.id" draggable="true" ondragstart="startDrag(event);">
                        <li v-bind:category="category.name" v-bind:data-id="task.id" class="card-body list-group-item p-0 m-0" style="position:relative;" style="position:relative;" ondrop="onDrop(event)">
                            <div  v-bind:category="category.name" class="card-text m-1 me-3"><small>{{task.name}}</small></div>
                            <i class="bi bi-pencil" v-bind:data-id="task.id" style="opacity:0.5;position:absolute;left:220px;top:0px;" onclick="editNode(this.parentElement)"></i>
                            <i class="bi bi-trash" v-bind:data-id="task.id" style="opacity:0.5;position:absolute;left:220px;top:25px;" onclick="removeNode(this)"></i>
                        </li>
                        <span v-bind:category="category.name" class="card-footer">
                            <small v-bind:class="task.priority">{{task.priority}}</small>
                            <i class="bi bi-person-badge-fill ms-1" alt="user"></i>
                            <span><small style="font-size:8pt;">{{task.assign}}</small></span>
                            <span v-if="task.due != ''" class="float-end"><small style="font-size:8pt;"><b>due</b>:{{task.due}}</small></span>
                        </span>
                    </ul>
                </div>
            </div>

            <!-- add new task -->
            <div class="overlay" id="dialog">
                <div class="inputmodal border rounded card">
                    <div class="card-header">Task</div>
                    <div class="card-body">
                        <div class="form-floating">
                            <textarea style="resize:none;font-size:10.5pt;max-lines:4;height:80px;" class="form-control" id="newTaskInfo" placeholder="Enter task here"
                                ></textarea>
                            <label for="newTaskInfo">Task description</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="assign" aria-label="assign task to">
                                <option v-for="user in users" v-bind:value="user.name">{{user.name}}</option>
                            </select>
                            <label for="floatingSelect">Task assign to</label>
                          </div>      
                        <div><small>priority</small></div>
                        <div class="btn-group" role="group" aria-label="task priority">
                            <input type="radio" class="btn-check" name="priority" id="P1" autocomplete="off" >
                            <label class="btn btn-outline-danger" for="P1">P1</label>
                            <input type="radio" class="btn-check" name="priority" id="P2" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="P2">P2</label>
                            <input type="radio" class="btn-check" name="priority" id="P3" autocomplete="off" >
                            <label class="btn btn-outline-primary" for="P3">P3</label>
                            <input type="radio" class="btn-check" name="priority" id="P4" autocomplete="off" >
                            <label class="btn btn-outline-warning" for="P4">P4</label>
                        </div>
                        <div>
                            <small>due date&nbsp;</small>
                            <input id="datecheck" type="checkbox" onclick="openPicker(this);" class="form-check-input"/>
                            <input type="date" id="duedate" style="opacity:0;" class="dialog_due_date"/>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button onclick="updateTask()" class="btn-sm btn-primary float-end ms-1"
                            aria-label="Update Task" title="Update task">Apply
                        </button>
                        <button onclick="resetDialog()" class="btn-sm btn-primary float-end" 
                            aria-label="Cancel Changes" title="Cancel changes">Cancel
                        </button>
                    </div>
                </div>
            </div>            
        </div>

        <!-- toast -->
        <div id='toast' class="toast bottom-0 end-0" data-bs-delay="5000" style="position:absolute;z-index:99;" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Kanban</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="toast_msg" class="toast-body">
            </div>
        </div>
        <!-- modal -->
        <div id="chooseModal" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="width:800px;">
                    <div class="modal-header bg-primary">
                        <div class="h4 modal-title text-light">Applications</div>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col border rounded p-2 me-2">
                                <img src="assets/kanban.png" alt="Kanban Board" style="margin-left:35px;cursor:hand;width:150px; height:150px;" onclick="handleChooser('kanban');"/>
                                <div class="h6" style="text-align:center;">Kan-ban board</div>
                            </div>
                            <div class="col border rounded p-2">
                                <img src="assets/sequence.png" alt="Sequence Diagram" style="margin-left:35px;cursor:hand;width:150px; height:150px;"  onclick="handleChooser('sequence');"/>
                                <div class="h6" style="text-align:center;">Sequence Diagram</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col border rounded p-2 me-2">
                                <img src="assets/flowchart.png" alt="Kanban Board" style="margin-left:35px;cursor:hand;width:150px; height:150px;" onclick="handleChooser('flowchart');"/>
                                <div class="h6" style="text-align:center;">Flowchart Diagram</div>
                            </div>
                            <div class="col border rounded p-2">
                                <img src="assets/statetransition.png" alt="Sequence Diagram" style="margin-left:35px;cursor:hand;width:150px; height:150px;"  onclick="handleChooser('state');"/>
                                <div class="h6" style="text-align:center;">State Transition</div>
                            </div>
                        </div>
                    </div>      
                    <div class="modal-body">
                        <div class="row">
                            <div class="col border rounded p-2 me-2">
                                <img src="assets/class.png" alt="Class Diagram" style="margin-left:35px;cursor:hand;width:150px; height:150px;" onclick="handleChooser('class');"/>
                                <div class="h6" style="text-align:center;">Class Diagram</div>
                            </div>                            
                            <div class="col border rounded p-2 me-2">
                                <img src="assets/json.png" alt="JSON Validator" style="margin-left:35px;cursor:hand;width:150px; height:150px;" onclick="handleChooser('json');"/>
                                <div class="h6" style="text-align:center;">JSON Validator</div>
                            </div>
                        </div>
                    </div>                                  
                    <div class="modal-footer h6">
                        Choose an application from options above or click anywhere else to dismiss
                    </div>
                </div>
            </div>
        </div>
        <script src="js/kanban_vue_app.js"></script>
        <script src="js/dom-to-image.min.js"></script>
        <script type="module">
            'use strict';
            import JSONCrush from './js/JSONCrush.js';
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics --> 
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-685JGY3J01"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-685JGY3J01');
        </script>

    </body>
</html>
