:root {
    font-size: 10px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans',Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #2e2e2e;
    height:100%;
}

.category_title {
    margin-left:180px;
    height:22px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

:focus {
    outline-color: #000000;
}

.masthead {
    flex-basis: 4rem;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: #397850;
    margin-bottom: 10px;
}

.masthead .btn {
    background-color: #4c94be;
    transition: background-color 150ms;
}

.masthead .btn:hover {
    background-color: #26874c;
}
.mast_button {
    background-color: #90968e;
    border:solid 1px rgb(17, 97, 56);
    border-radius: 3px;
    cursor:hand;
    width:35px;
    height:30px;
}

.mast_button > img {
    width:20px;
    height:20px;
}

.settings_root {
    position:absolute;
    top:0px;
    width:350px;
    height:100%;
    background-color: #96a49a;
}

.settings_description {
    margin:10px;
    font-size:11pt;
    color:#444444;
}

.command_button {
   font-family:'open sans';
   margin-left:10px;
   margin-top:0px;
   font-size:10.5pt;
   background-color: #96a49a;
}

.settings_input {
    font-family:'open sans';
    margin-left:10px;
    margin-top:10px;
    width:200px;
}

.settings_list {
    font-family:'open sans';
    width:180px;
    margin-left:10px;
}
